body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Custom styles for the project*/
.container{
    max-width: 100%;
}
.body-content{

}
#myCarousel{
    margin: 0px -15px;
}
.carousel-inner > .item > img{
    width: 100%;
}
.art-str-left .row{
    margin: 10px 0px 10px 0px;
    border-bottom: solid 1px rgba(153, 153, 153, 0.32);
    padding: 10px 0px;
}
.art-str-left .row .col-md-4{
    margin: 0px -15px;
}
.art-str-left img{
    width: 100%;
}
.art-str-left >.col-md-8{
    border-right: solid 1px rgba(153, 153, 153, 0.32);
}
.art-str-right img{
    margin-bottom: 20px;
}